@page "/code-value-classification"
@rendermode InteractiveServer
<PageTitle>Code Value Classification</PageTitle>


<h3>Code Value Classification</h3>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    @if (ExistingCodeValueClassifications?.Count > 0)
    {
        <tbody>
            @foreach(var classification in ExistingCodeValueClassifications)
            {
                <tr>
                    <td>@classification?.Id</td>
                    <td>@classification?.Value</td>
                </tr>
            }
        </tbody>
    }
</table>


<div class="row">
    <div class="col-md-4">
        <InputText @bind-Value="NewCodeValueClassificationValue" class="form-control" />
    </div>
    <div class="col-md-2">
        <button type="button" @onclick="AddNewCodeClassificationValueAsync" class="btn btn-primary">Add</button>
    </div>
</div>
